@import 'tailwindcss';
@import "tw-animate-css";
@import '$lib/styles/comhairle-themes.css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

html, body {
  width: 100%;
  max-width: 100dvw;
  height: 100vh;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Used to apply prose styles to markdown editors */
.carta-renderer {
  @apply prose dark:prose-invert max-w-none;
}

button, a {
  cursor: pointer;
}

[data-sonner-toast] [data-close-button] {
  position: absolute !important;
  top: 0.5rem !important;
  right: 0.5rem !important;
  left: auto !important;
}
